@import url("https://fonts.googleapis.com/css2?family=Poppins");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

* {
  scrollbar-width: auto;
  scrollbar-color: #c9c9c9 #ffffff;
  outline: none !important;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 16px;
}

body::-webkit-scrollbar-track {
  background: #1f2937;
}

*::-webkit-scrollbar-thumb {
  background-color: #c9c9c9;
  border: 3px solid #1f2937;
  border-radius: 10px;
}
